NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://su_admin:strong_password@localhost:5432/su_aritma?schema=public
REDIS_URL=redis://localhost:6379
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
S3_MEDIA_BUCKET=su-aritma-local
FCM_SERVER_KEY=local
MAINTENANCE_CRON=0 * * * *